/*font-family: 'Lato', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.section-header{
    background: url("imgs/bitmap.png") no-repeat 50% 50%;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
}

.section-header::before{
    z-index: 5;
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 39, 41, .6);
}
.section-inner{
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;

}
.header-logo{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    margin-top: 35px;
    margin-left: 115px;
}
.header-content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin: 0 auto;
}
.header-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title,
.header-subtitle{
    text-align: center;
}
.header-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}
.header-subtitle{

    width: 55%;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 45px;
}
.header-form-wrapper{
    display: flex;
    width: 1020px;
   justify-content: center;
}

.header-submit-button > button{
    border-radius: 4px;
    padding: 16px 20px;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    color: #FFFFFF;
    outline: none;
}
.header-input-email > input,
.header-input-name > input{
    margin-right: 40px;
    width: 370px;
    padding: 16px 20px;
    background: rgba(255, 255, 255, .25);
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    outline: none;
}

.header-input-email > input::placeholder{
    color: #FFFFFF;
}
.header-input-name > input::placeholder{
    color: #FFFFFF;
}