/*font-family: 'Lato', sans-serif;*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #414141;
}

.inner {
    max-width: 1180px;
    margin: 0 auto;
}

.section-outer {
    padding-left: 20px;
    padding-right: 20px;
}

.section-header {

    background: url("imgs/Bitmap.png") no-repeat 50% 50%;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
}

.section-header::before {
    z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(20, 39, 41, .6);
}

.section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;

}

.header-logo {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    flex-shrink: 1;
    margin-top: 35px;
    margin-left: 115px;
}

.header-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin: 0 auto;
    width: 100%;
}

.header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-title,
.header-subtitle {
    text-align: center;
}

.header-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

.header-subtitle {

    width: 55%;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 45px;
}

.header-form-wrapper {
    display: flex;
    justify-content: center;
}

.input-form:focus {
    background: rgba(255, 255, 255, .5);
}

.header-submit-button > button {
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 40px;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    color: #FFFFFF;
    outline: none;
}

.header-submit-button > button:hover {
    background: linear-gradient(to right, #FE4FA7, #FE985B);
}

.input-form {
    margin-right: 40px;
    width: 370px;
    padding: 16px 20px;
    background: rgba(255, 255, 255, .25);
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    outline: none;
}

/*.header-input-email > input,*/
/*.header-input-name > input {*/
/*    margin-right: 40px;*/
/*    width: 370px;*/
/*    padding: 16px 20px;*/
/*    background: rgba(255, 255, 255, .25);*/
/*    font-size: 16px;*/
/*    color: #FFFFFF;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*}*/

.header-input-email > input::placeholder {
    color: #FFFFFF;
}

.header-input-name > input::placeholder {
    color: #FFFFFF;
}

.about {
    position: relative;
    background: #FFFFFF;
    padding-top: 116px;
    width: 100%;
    margin: 0 auto;
}

.about-wrapper {
    display: flex;
}

.video,
.text-wrapper {
    flex-basis: 50%;
}

.text-wrapper {
    padding-right: 80px;
}

.video > img {
    width: 100%;
    height: auto;
}

.about-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 55px;
}

.about-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
    margin-top: 30px;
}

.subtitle-text {
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
}

.about-icons-wrapper {
    display: flex;
    padding-top: 80px;
    margin-top: 115px;
    border-top: 1px solid #E2E2E2;
    justify-content: center;
    /*padding-left: 20px;*/

}

.icon-subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
    text-align: center;
}

.icon-text {
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.icon {
    padding-bottom: 20px;
}

.icon-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    margin-right: 30px;
    margin-left: 30px;
}

.founder {
    display: flex;
    background: #F6FAFD;
    margin-top: 110px;
    padding-top: 30px;
}

.about-founder {
    font-size: 24px;
    line-height: 40px;
}

.founder-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.founder-position {
    font-size: 20px;
    line-height: 24px;
}

.founder-img {
    align-self: flex-end;
    margin-left: 100px;
}

.founder-img > img {
    max-width: 100%;
}

.founder-text {
    align-self: center;
    width: 50%;
    margin-left: 50px;
}

.plans {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.plans-text-wrapper {
    padding-top: 115px;
    text-align: center;
}

.plans-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 30px;
}

.plans-text {
    margin: 0 auto;
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
    width: 50%;
    padding-bottom: 80px;

}

.plans-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.plan-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 25px;
}

.plan-price-index {
    font-size: 72px;
    font-weight: bold;
    line-height: 86px;
    color: #FE4FA7;
}

.plan-price-prefix {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.about-plan-text {
    font-weight: lighter;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;

}

.plan-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 50px 30px;
}

.active {
    background: #F6FAFD;
}

.plan-price {
    margin-bottom: 30px;
}

.get-started-button-main {
    border-radius: 4px;
    padding: 16px 40px;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    color: #FFFFFF;
    outline: none;
    cursor: pointer;

}

.get-started-button-main:hover {
    background: linear-gradient(to right, #FE4FA7, #FE985B);
}

.get-started-button-secondary {
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 40px;
    border: 1px solid #414141;
    font-size: 16px;
    color: #000000;
    outline: none;
}

.get-started-button-secondary:hover {
    border-color: #FE4FA7;
}

a {
    text-decoration: none;
    color: #414141;
}

.section-free {
    margin-top: 100px;
    background: linear-gradient(to right, #FE985B, #FE4FA7);
    text-align: center;
}

.section-free-title {
    padding-top: 125px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    color: #FFFFFF;
}

.about-section-free {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin: 0 auto;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.get-started-button-free {
    border-radius: 4px;
    display: inline-block;
    padding: 16px 40px;
    font-size: 16px;
    outline: none;
    background: #FFFFFF;
    color: #414141;
    margin-bottom: 100px;
}

.footer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

.footer-logo {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: 80px;
    padding-bottom: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 74px;

}

.footer-links li > a {
    margin-left: 60px;

}

.footer-links > li > a:hover {
    color: #FE4FA7;
}

.active-link {
    color: #FE4FA7;
}

.copyright-wrapper {
    display: flex;
    justify-content: center;
}

.copyright-links {
    list-style: none;
    display: flex;
    margin-left: 60px;
}

.copyright-links li {
    margin-left: 30px;
}

.copyright-links li:hover {
    text-decoration: underline;
}


/*adaptive*/


@media (max-width: 1175px) {

    .about-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .video,
    .text-wrapper {
        text-align: center;
        width: 70%;
        padding: 0;
    }

    .text-wrapper {
        margin-top: 30px;
    }

    .subtitle-text {
        width: 70%;
        margin: 0 auto 20px;
    }

}

@media (max-width: 1020px) {
    .header-form-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-input-name,
    .header-input-email {
        margin-bottom: 20px;
    }

    .plans-text {
        width: 80%;
    }

    .icon-text {
        margin-bottom: 20px;

    }

    .about-section-free {
        width: 80%;
    }

    .header-submit-button {
        align-self: self-start;
    }

}

@media (max-width: 890px) {
    .founder {
        flex-direction: column;
    }

    .founder-img {
        align-self: flex-start;
        width: 100%;
        margin: 0;
    }

    .founder-text {
        margin: 0;
        width: 80%;
    }

    .footer-links {

        flex-direction: column;
        text-align: center;
    }

    .footer-links > li {
        margin-bottom: 10px;
    }

    .footer-links li > a {
        margin-left: 0;

    }

    .copyright-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .copyright-text {
        padding-bottom: 15px;
    }

    .copyright-links {
        flex-direction: column;
        margin: 0;
    }

    .copyright-links li {
        margin: 0 0 10px 0;
    }
}

@media (max-width: 700px) {
    .header-title {
        font-size: 36px;
    }

    .header-subtitle {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .plans-wrapper {
        flex-direction: column;
    }

    .about-icons-wrapper {
        flex-direction: column;
        margin: 0 0 10px 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .input-form {
        margin: 0;
        width: 340px;
    }
}

@media (max-height: 450px) {
    .header-title {
        font-size: 36px;
    }

    .header-subtitle {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .header-logo {
        margin-top: 20px;
    }

    .input-form {
        height: 20px;
        width: 300px;
    }

    .header-input-email,
    .header-input-name {
        margin-bottom: 10px;
    }

    .header-submit-button > button {
        padding: 10px 30px;
    }
}